@import "./fonts.css";
@import "tailwindcss";
@plugin "@tailwindcss/forms";

@theme {
  --font-inter:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-ibm-plex-sans:
    "IBM Plex Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
